.container{
max-width: 1200px;
margin: auto;
background: #FFFFFF;
overflow: auto;
}

.gallery{
  margin: 5px;
  border: 1px solid #FFFFFF;
  float: left;
  width: 300px;
  margin: auto;
}

.gallery img{
  width: 100%;
  height: auto;
}

/*comment section*/
h1{
		font-family: 'Open Sans', sans-serif; 
		text-align: center;
		}
		
		h3{
			font-family: 'Open Sans', sans-serif;
		}
			
		.container{
			width: 1000px;
			margin-left: auto;
			margin-right: auto;
		}
		
		.footer{
			clear: both;
			text-align: center;
			}

		
		.content{
			padding: 0px
		}
		
		.name{
			width: 400px;
			float: left;
		}
		
		.email{
			width: 400px;
			float: right;
		}
		
