.container{
max-width: 906px;
margin: auto;
background: #FFFFFF;
overflow: auto;
}

/*border: 5px solid red;*/

.gallery{
  margin: 5px;
  border: 1px solid #FFFFFF;
  float: left;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.gallery img{
  width: 100%;
  height: auto;
}

/*comment section*/
h1{
		font-family: 'Open Sans', sans-serif; 
		text-align: center;
		}
		
		h3{
			font-family: 'Open Sans', sans-serif;
		}
			
		.parent{
			width: 840px;
			margin-left: auto;
			margin-right: auto;
			border: 1px solid Black;
		}
		
		.footer{
			clear: both;
			text-align: center;
			}

		
		.content{
			padding: 0px
		}
		
		.name{
			width: 400px;
			float: left;
		}
		
		.email{
			width: 400px;
			float: right;
		}
		
