.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  grid-gap: 10px;
}

.item{
  width: 100%;
  overflow: hidden;
  background: #FFFFFF	
}

img{
  opacity: 0.6;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

img:hover{
  opacity: 1;
  transform: scale(1.03);
