.container{
max-width: 1200px;
margin: auto;
background: #FFFFFF;
overflow: auto;
}

.gallery{
  margin: 5px;
  border: 1px solid #FFFFFF;
  float: left;
  width: 300px;
  margin: auto;
}

.gallery img{
  width: 100%;
  height: auto;
}
